/* Academic Theme for veve-cli */

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 1.8;
  color: #000;
  background-color: #fff;
  margin: 1in;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-family: Georgia, serif;
}

h1 {
  font-size: 18pt;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 14pt;
  border-bottom: 1px solid #000;
  padding-bottom: 0.3em;
}

h3 {
  font-size: 12pt;
  font-style: italic;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #333;
}

code {
  font-family: "Courier New", monospace;
  font-size: 10pt;
}

pre {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1em;
  overflow-x: auto;
  font-family: "Courier New", monospace;
  font-size: 10pt;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 1em 0;
  padding-left: 1.5em;
  color: #555;
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

th, td {
  border: 1px solid #000;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

ul, ol {
  margin: 0.5em 0;
  padding-left: 2em;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}

/* For citations/references */
.citation {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 10pt;
}
