name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Install Pandoc
        run: sudo apt-get update && sudo apt-get install -y pandoc

      - name: Go mod tidy
        run: go mod tidy

      - name: Go mod verify
        run: go mod verify

      - name: Build binary for tests
        run: go build -o veve ./cmd/veve && sudo mv veve /usr/local/bin/

      - name: Run tests
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./... -timeout 20m

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.txt
          fail_ci_if_error: false

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Build
        run: go build -v ./cmd/veve

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
